.tmp*
HoudiniDigitalAsset/backup/
HoudiniDigitalAsset/BlackBox/backup/
HoudiniDigitalAsset/GameHDA/backup/
HoudiniDigitalAsset/Images/backup/
HoudiniDigitalAsset/Miscellaneous/backup/
HoudiniDigitalAsset/Tools/backup/